[submodule "dashel"]
	path = dashel
	url = https://github.com/aseba-community/dashel.git
	branch = master
[submodule "enki"]
	path = enki
	url = https://github.com/enki-community/enki.git
	branch = master
[submodule "aseba"]
	path = aseba
	url = https://github.com/davidjsherman/aseba.git
	branch = master
[submodule "package/inirobot"]
	path = package/inirobot
	url = https://github.com/davidjsherman/inirobot-windows.git
