[submodule "dashel"]
	path = dashel
	url = https://github.com/davidjsherman/dashel.git
	branch = pollsocketstream
[submodule "enki"]
	path = enki
	url = https://github.com/enki-community/enki.git
	branch = master
[submodule "aseba"]
	path = aseba
	url = https://github.com/davidjsherman/aseba.git
	branch = alpha-classcod
[submodule "package/inirobot"]
	path = package/inirobot-windows
	url = https://github.com/davidjsherman/inirobot-windows.git
	branch = master
