[submodule "dashel"]
	path = dashel
	url = https://github.com/aseba-community/dashel.git
[submodule "enki"]
	path = enki
	url = https://github.com/enki-community/enki.git
[submodule "aseba"]
	path = aseba
	url = https://github.com/aseba-community/aseba.git
